/* Inbox.css */

/* Styles for the container */
.inbox-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally */
  width: 80%;
  margin: auto;
  padding: 20px;
  min-height: 100vh; /* Ensures the container takes at least the full height of the viewport */
}

.messages-list {
  width: 100%; /* Ensures the list takes full width of the container */
  margin-top: 20px; /* Adds some space above the list */
}

.no-matches-message {
  text-align: center;
  font-size: 18px;
  color: #666;
}


/* Styles for the heading */
.inbox-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

/* Styles for the messages list */
.messages-list {
  display: grid;
  grid-gap: 20px;
}

/* Styles for individual message items */
.message-item {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer; /* Make messages clickable */
}

.message-item:hover {
  background-color: gray;
}

/* Styles for message header */
.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles for message sender */
.message-sender {
  font-weight: bold;
}


/* Styles for message content */
.message-content {
  margin-top: 10px; /* Add margin above content */
}
