 
name: Jest Tests
on:
  push:
    branches: [ main, master, Myesha_test ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm install -g npm && npm install
    - name: Run Integration jest tests
      run: pnpm test 
   
    - name: get Integration test coverage reports
      run: npx jest --coverage
   
